<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio del Juego</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="players-info">
            <div class="player" id="player1">
                <h2 id="alias-p1-display">Alias Jugador 1</h2>
                <div class="warriors">
                    <!-- Guerreros seleccionados por el Jugador 1 -->
                </div>
            </div>
            <div class="player" id="player2">
                <h2 id="alias-p2-display">Alias Jugador 2</h2>
                <div class="warriors">
                    <!-- Guerreros seleccionados por el Jugador 2 -->
                </div>
            </div>
        </div>
        <button onclick="startGame()">Iniciar</button>
    </div>

    <script src="assets/js/main.js"></script>
</body>
</html>
